<?xml version="1.0" encoding="UTF-8"?>

<configuration  scan="true" scanPeriod="10 seconds" debug = "true">
    <contextName>logback</contextName>
    <!-- 引用公共配置 -->

    <include resource="config/log/common.xml" />
    <!-- 特殊设置：配置某个个包下的日志输出级别 -->
    <logger name="com.tjl.work.gateway.filters.TokenGlobalFilter" level="ERROR">
        <!-- 指定输出 生效的文件配置 -->
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="INFO_FILE" />
    </logger>

    <logger name="com.netflix.discovery.DiscoveryClient" level="ERROR">
        <!-- 指定输出 生效的文件配置 -->
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="INFO_FILE" />
    </logger>

    <root level="INFO">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="INFO_FILE" />
        <appender-ref ref="ERROR_FILE" />
        <appender-ref ref="WARN_FILE" />
        <appender-ref ref="DEBUG_FILE" />
    </root>
</configuration>